## Functions in Python

## Template 
### def function_name(parameters):
-    """
-    Optional docstring that describes what the function does.
-    """
-    #### Code block
-    #### Code block
-    return value  # optional
####  arguments
- def → keyword to define a function.
- function_name → must follow Python naming rules (letters, numbers, _, but not starting with a number).
- parameters → optional inputs (can be none, one, or many).
- return → sends back a value to the caller (optional — function can just perform an action).

In [2]:
# Function - 1
def greet(name):
    """This function prints a greeting message."""
    print("Hello, ", name, " welcome to Python functions!")

# Calling the function
greet('Dhiraj')

Hello,  Dhiraj  welcome to Python functions!

In [3]:
greet('Suroor')

Hello,  Suroor  welcome to Python functions!

In [4]:
# Function - 1B  - {}
def greet(name):
    """This function prints a greeting message."""
    print(f"Hello {name}, welcome to Python functions!")

# Calling the function
greet('Dhiraj Upadhyaya')

Hello Dhiraj Upadhyaya, welcome to Python functions!

In [5]:
# Function with return value
def add_numbers(a, b):
    """Return the sum of two numbers."""
    return a + b

# Using the function
result = add_numbers(5, 7)
print("Sum is:", result)

Sum is: 12

In [6]:
add_numbers(10,20)

30

In [15]:
x=add_numbers(4,6)
x

10

In [27]:
def add_numbers2(x, y):
    z = x + y
    return z

In [28]:
z1 = add_numbers2(1,2)
z1

3

In [7]:
# Function with Default Parameter
def greet_user(name="PIIT Student"):
    """Greet a user with a default name."""
    print(f"Hello, {name}!")

greet_user()       # Uses default value
greet_user("John") # Overrides default

Hello, PIIT Student!
Hello, John!

In [8]:
greet_user()

Hello, PIIT Student!

In [9]:
greet_user('Sultana')

Hello, Sultana!

In [36]:
def greet_user2(name="PIIT Student" , rollno=1):
    message = f"Hello, {name} enrolment no {rollno}!"
    return message

In [37]:
x= greet_user2()
x

'Hello, PIIT Student enrolment no 1!'

In [38]:
greet_user2('Suroor', 100)

'Hello, Suroor enrolment no 100!'

## Features of Functions
- Functions reduce repetition.
- They can take input parameters and return values.
- A docstring inside triple quotes """ ... """ helps explain purpose and usage.
- Functions must be called to execute.

In [46]:
import pandas as pd
from pydataset import data

In [47]:
df = data('mtcars')
df.shape

(32, 11)

In [48]:
## Function
def min_max_mpg():
    """Return the minimum and maximum MPG from the mtcars dataset."""
    # Load the mtcars dataset
    #df = data('mtcars')
    
    # Find min and max
    min_val = df['mpg'].min()
    max_val = df['mpg'].max()
    
    return min_val, max_val

In [49]:
min_max_mpg()

(10.4, 33.9)

In [45]:
x , y = min_max_mpg()
print('Min is ', x, ' Max is ', y)

Min is  10.4  Max is  33.9

In [ ]:
min_mpg, max_mpg = min_max_mpg()
print(f"Minimum MPG: {min_mpg}")
print(f"Maximum MPG: {max_mpg}")

In [ ]:
print(df.mpg.max(), df.mpg.min())

## End here