## Lambda Funtions

- A  lambda function is an anonymous, inline function in python
- It used for short, simple operations - often where a full def fuction would be unnecessary

## Syntax
- lambda arguments : experession
- square = lambda x : x * x
- print(square(5))

In [4]:
5 * 5   #

25

In [12]:
sq = lambda x , y , z : x * x + y - z
sq(8, 3, 1)

66

In [3]:
square = lambda x : x * x + 10
print(square(5), square(8))

35 74

## Key Characteristics
- Doesn't use the def keyword
- No function name (unless assigned to a variable)
- Can take multiple arguments
- Only 1 expression, no statements, or multiple line

In [ ]:
# Multiple Arguments
add = lambda  x, y : x + y
print(add(3,4))

In [ ]:
def double(x):
    """This function doubles the input number."""
    return x * 2

In [ ]:
double(4)

## When to use Lambda
- Inside functions like map, filter, sorted
- for short term or throw away functions
- to improve code readibility for simple logic

In [ ]:
# map - transform a list
nums = [1,2,3, 4]
print(' Original numbers ', nums)
result = list(map(lambda x : x ** 2, nums))
print (' Result from Lamdba --- ', result)

In [ ]:
4%2, 5%2

In [ ]:
# filter - filter items
print(nums)
evens = list(filter(lambda x: x % 2 == 0, nums))
print( "Even nos are ", evens)

In [ ]:
# reduce - combine to one value
# reduces a list to single result  (needs library - functools)
from functools import reduce
product = reduce(lambda x, y : x + y, nums)
print(product)

In [ ]:
1 + 2 + 3 + 4

In [31]:
# lambda in DF
import pandas as pd
from pydataset import data

In [32]:
# Load dataset
df = data('mtcars')
df.shape

(32, 11)

In [33]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [34]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [35]:
df.mpg.max(), df.mpg.min()

(33.9, 10.4)

In [42]:
# Lambda to get (min, max) for any column eg mpg
min_max_col = lambda col: (df[col].min(), df[col].max())

In [43]:
# Call the lambda for 'mpg'
min_val, max_val = min_max_col('wt')
print(min_val, max_val)

1.513 5.424

In [44]:
print(f"Minimum MPG: {min_val}")
print(f"Maximum MPG: {max_val}")

Minimum MPG: 1.513
Maximum MPG: 5.424

In [45]:
coln = 'hp'
min_val, max_val = min_max_mpg(coln)
print(f"Min of {coln} is  {min_val} ; Max of {coln} is {max_val}")

NameError: name 'min_max_mpg' is not defined

In [46]:
coln = 'wt'
min_val, max_val = min_max_mpg(coln)
print(f"Min of {coln} is  {min_val} ; Max of {coln} is {max_val}")

NameError: name 'min_max_mpg' is not defined

In [41]:
df.describe().loc[['min', 'max']]

      mpg  cyl   disp     hp  drat     wt  qsec   vs   am  gear  carb
min  10.4  4.0   71.1   52.0  2.76  1.513  14.5  0.0  0.0   3.0   1.0
max  33.9  8.0  472.0  335.0  4.93  5.424  22.9  1.0  1.0   5.0   8.0

## Other Lambda Egs
-

In [26]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
df['mpg'] + df['hp']

In [ ]:
# Example: sum of 'mpg' and 'hp' into a new column 'mpg_hp_sum'
df['mpg_hp_sum'] = df.apply(lambda row: row['mpg'] + row['hp'], axis=1)
df[['mpg', 'hp', 'mpg_hp_sum']].head()

In [ ]:
#without lambda
(df['mpg'] + df['hp']).head()

In [ ]:
# create label based on condition
df['mpg_label'] = df['mpg'].apply(lambda x: 'High' if x > 20 else 'Low')
df.head()

In [ ]:
# filter
print(list(filter(lambda x: x > 20, df['mpg'])))

In [ ]:
# transform data
(df['mpg'].map(lambda x: x * 2)).head()

In [ ]:
# sort
df.sort_values(by='mpg', key=lambda col: col * -1).head(10)

In [ ]:
## sort by length of car names
sorted(df.index, key=lambda name: len(name))[0:5]

In [ ]:
## on 2 cols
df['power_flag'] = df.apply(lambda r: 'High' if r['hp'] > 150 and r['disp'] > 200 else 'Low', axis=1)
df

## Interview Qs
- Lambda - is anyomouse inline function (What is the Q)
- DEF Keyword is not used to define lambda (....)
- Multiple expressions can Lambda function take( ..)

# End Here