## Lambda Funtions

- Almbda function is an anonymous, inline function in python
- It used for short, simple operations - often where a full def fuction would be unnecessary

## Syntax
- lambda arguments : experession
- square = lambda x : x * x
- print(square(5))

In [3]:
square = lambda x : x * x
print(square(5))

25

## Key Characteristics
- Doesn't use the def keyword
- No function name (unless assigned to a variable)
- Can take multiple arguments
- Only 1 expression, no statements, or multiple line

In [5]:
# Multiple Arguments
add = lambda  x, y : x + y
print(add(3,4))

7

## When to use Lambda
- Inside functions like map, filter, sorted
- for short term or throw away functions
- to improve code readibility for simple logic

In [9]:
# map - transform a list
nums = [1,2,3, 4]
print(' Original numbers ', nums)
result = list(map(lambda x : x ** 2, nums))
print (' Result from Lamdba --- ', result)

 Original numbers  [1, 2, 3, 4]
 Result from Lamdba ---  [1, 4, 9, 16]

In [10]:
# filter - filter items
print(nums)
evens = list(filter(lambda x: x % 2 == 0, nums))
print( "Even nos are ", evens)

[1, 2, 3, 4]
Even nos are  [2, 4]

In [12]:
# reduce - combine to one value
# reduces a list to single result  (needs library - functools)
from functools import reduce
product = reduce(lambda x, y : x + y, nums)
print(product)

10

In [13]:
1 + 2 + 3 + 4

10

In [14]:
# lambda in DF
import pandas as pd
from pydataset import data

In [15]:
# Load dataset
df = data('mtcars')
df.shape

(32, 11)

In [16]:
# Lambda to get (min, max) for any column eg mpg
min_max_mpg = lambda col: (df[col].min(), df[col].max())

In [17]:
# Call the lambda for 'mpg'
min_val, max_val = min_max_mpg('mpg')

In [18]:
print(f"Minimum MPG: {min_val}")
print(f"Maximum MPG: {max_val}")

Minimum MPG: 10.4
Maximum MPG: 33.9

In [19]:
coln = 'hp'
min_val, max_val = min_max_mpg(coln)
print(f"Min of {coln} is  {min_val} ; Max of {coln} is {max_val}")

Min of hp is  52 ; Max of hp is 335

In [20]:
coln = 'wt'
min_val, max_val = min_max_mpg(coln)
print(f"Min of {coln} is  {min_val} ; Max of {coln} is {max_val}")

Min of wt is  1.513 ; Max of wt is 5.424

In [25]:
df.describe().loc[['min', 'max']]

      mpg  cyl   disp     hp  drat     wt  qsec   vs   am  gear  carb
min  10.4  4.0   71.1   52.0  2.76  1.513  14.5  0.0  0.0   3.0   1.0
max  33.9  8.0  472.0  335.0  4.93  5.424  22.9  1.0  1.0   5.0   8.0

## Interview Qs
- Lambda - is anyomouse inline function (What is the Q)
- DEF Keyword is not used to define lambda (....)
- Multiple expressions can Lambda function take( ..)

# End Here