## Lambda Funtions

- A  lambda function is an anonymous, inline function in python
- It used for short, simple operations - often where a full def fuction would be unnecessary

## Syntax
- lambda arguments : experession
- square = lambda x : x * x
- print(square(5))

In [2]:
5*5

25

In [4]:
square = lambda x : x * x + 10
print(square(5), square(8))

35 74

## Key Characteristics
- Doesn't use the def keyword
- No function name (unless assigned to a variable)
- Can take multiple arguments
- Only 1 expression, no statements, or multiple line

In [2]:
# Multiple Arguments
add = lambda  x, y : x + y
print(add(3,4))

7

In [5]:
def double(x):
    """This function doubles the input number."""
    return x * 2

In [6]:
double(4)

8

## When to use Lambda
- Inside functions like map, filter, sorted
- for short term or throw away functions
- to improve code readibility for simple logic

In [7]:
# map - transform a list
nums = [1,2,3, 4]
print(' Original numbers ', nums)
result = list(map(lambda x : x ** 2, nums))
print (' Result from Lamdba --- ', result)

 Original numbers  [1, 2, 3, 4]
 Result from Lamdba ---  [1, 4, 9, 16]

In [11]:
4%2, 5%2

(0, 1)

In [12]:
# filter - filter items
print(nums)
evens = list(filter(lambda x: x % 2 == 0, nums))
print( "Even nos are ", evens)

[1, 2, 3, 4]
Even nos are  [2, 4]

In [13]:
# reduce - combine to one value
# reduces a list to single result  (needs library - functools)
from functools import reduce
product = reduce(lambda x, y : x + y, nums)
print(product)

10

In [14]:
1 + 2 + 3 + 4

10

In [15]:
# lambda in DF
import pandas as pd
from pydataset import data

In [16]:
# Load dataset
df = data('mtcars')
df.shape

(32, 11)

In [17]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [18]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [20]:
df.mpg.max(), df.mpg.min()

(33.9, 10.4)

In [21]:
# Lambda to get (min, max) for any column eg mpg
min_max_col = lambda col: (df[col].min(), df[col].max())

In [24]:
# Call the lambda for 'mpg'
min_val, max_val = min_max_col('wt')
print(min_val, max_val)

1.513 5.424

In [11]:
print(f"Minimum MPG: {min_val}")
print(f"Maximum MPG: {max_val}")

Minimum MPG: 10.4
Maximum MPG: 33.9

In [12]:
coln = 'hp'
min_val, max_val = min_max_mpg(coln)
print(f"Min of {coln} is  {min_val} ; Max of {coln} is {max_val}")

Min of hp is  52 ; Max of hp is 335

In [13]:
coln = 'wt'
min_val, max_val = min_max_mpg(coln)
print(f"Min of {coln} is  {min_val} ; Max of {coln} is {max_val}")

Min of wt is  1.513 ; Max of wt is 5.424

In [14]:
df.describe().loc[['min', 'max']]

      mpg  cyl   disp     hp  drat     wt  qsec   vs   am  gear  carb
min  10.4  4.0   71.1   52.0  2.76  1.513  14.5  0.0  0.0   3.0   1.0
max  33.9  8.0  472.0  335.0  4.93  5.424  22.9  1.0  1.0   5.0   8.0

## Other Lambda Egs
-

In [25]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [26]:
df['mpg'] + df['hp']

Mazda RX4              131.0
Mazda RX4 Wag          131.0
Datsun 710             115.8
Hornet 4 Drive         131.4
Hornet Sportabout      193.7
Valiant                123.1
Duster 360             259.3
Merc 240D               86.4
Merc 230               117.8
Merc 280               142.2
Merc 280C              140.8
Merc 450SE             196.4
Merc 450SL             197.3
Merc 450SLC            195.2
Cadillac Fleetwood     215.4
Lincoln Continental    225.4
Chrysler Imperial      244.7
Fiat 128                98.4
Honda Civic             82.4
Toyota Corolla          98.9
Toyota Corona          118.5
Dodge Challenger       165.5
AMC Javelin            165.2
Camaro Z28             258.3
Pontiac Firebird       194.2
Fiat X1-9               93.3
Porsche 914-2          117.0
Lotus Europa           143.4
Ford Pantera L         279.8
Ferrari Dino           194.7
Maserati Bora          350.0
Volvo 142E             130.4
dtype: float64

In [27]:
# Example: sum of 'mpg' and 'hp' into a new column 'mpg_hp_sum'
df['mpg_hp_sum'] = df.apply(lambda row: row['mpg'] + row['hp'], axis=1)
df[['mpg', 'hp', 'mpg_hp_sum']].head()

                    mpg   hp  mpg_hp_sum
Mazda RX4          21.0  110       131.0
Mazda RX4 Wag      21.0  110       131.0
Datsun 710         22.8   93       115.8
Hornet 4 Drive     21.4  110       131.4
Hornet Sportabout  18.7  175       193.7

In [17]:
#without lambda
(df['mpg'] + df['hp']).head()

Mazda RX4            131.0
Mazda RX4 Wag        131.0
Datsun 710           115.8
Hornet 4 Drive       131.4
Hornet Sportabout    193.7
dtype: float64

In [18]:
# create label based on condition
df['mpg_label'] = df['mpg'].apply(lambda x: 'High' if x > 20 else 'Low')
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_hp_sum,mpg_label
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,131.0,High
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,131.0,High
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,115.8,High
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,131.4,High
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,193.7,Low

In [20]:
# filter
print(list(filter(lambda x: x > 20, df['mpg'])))

[21.0, 21.0, 22.8, 21.4, 24.4, 22.8, 32.4, 30.4, 33.9, 21.5, 27.3, 26.0, 30.4, 21.4]

In [22]:
# transform data
(df['mpg'].map(lambda x: x * 2)).head()

Mazda RX4            42.0
Mazda RX4 Wag        42.0
Datsun 710           45.6
Hornet 4 Drive       42.8
Hornet Sportabout    37.4
Name: mpg, dtype: float64

In [24]:
# sort
df.sort_values(by='mpg', key=lambda col: col * -1).head(10)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_hp_sum,mpg_label
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,98.9,High
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,98.4,High
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,143.4,High
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,82.4,High
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,93.3,High
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,117.0,High
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,86.4,High
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,115.8,High
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,117.8,High
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,118.5,High

In [27]:
## sort by length of car names
sorted(df.index, key=lambda name: len(name))[0:5]

['Valiant', 'Merc 230', 'Merc 280', 'Fiat 128', 'Mazda RX4']

In [29]:
## on 2 cols
df['power_flag'] = df.apply(lambda r: 'High' if r['hp'] > 150 and r['disp'] > 200 else 'Low', axis=1)
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_hp_sum,mpg_label,power_flag
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,131.0,High,Low
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,131.0,High,Low
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,115.8,High,Low
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,131.4,High,Low
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,193.7,Low,High
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,123.1,Low,Low
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,259.3,Low,High
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,86.4,High,Low
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,117.8,High,Low
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,142.2,Low,Low
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,140.8,Low,Low
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,196.4,Low,High
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,197.3,Low,High
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,195.2,Low,High
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,215.4,Low,High
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,225.4,Low,High
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,244.7,Low,High
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,98.4,High,Low
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,82.4,High,Low
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,98.9,High,Low
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,118.5,High,Low
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,165.5,Low,Low
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,165.2,Low,Low
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,258.3,Low,High
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,194.2,Low,High
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,93.3,High,Low
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,117.0,High,Low
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,143.4,High,Low
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,279.8,Low,High
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,194.7,Low,Low
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,350.0,Low,High
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,130.4,High,Low

## Interview Qs
- Lambda - is anyomouse inline function (What is the Q)
- DEF Keyword is not used to define lambda (....)
- Multiple expressions can Lambda function take( ..)

# End Here