# Loops in Python
- for loop
    -  Pythonâ€™s for loops are often used for iterating over datasets, automating repetitive tasks, and applying transformations or calculations. While libraries like pandas and numpy offer vectorized methods (which are usually faster), understanding and using for loops is still essential for flexibility and custom operations.
-  for loop is used to iterate over a sequence (such as a list, tuple, string, or range) or other iterable objects. It executes a block of code repeatedly, once for each item in the sequence.

## Loops

In [1]:
fruits = ["apple", "banana", "cherry"]
fruits

['apple', 'banana', 'cherry']

In [2]:
for fruit in fruits:
    print(fruit)  #indent

apple
banana
cherry

In [4]:
for fruit in fruits: print(fruit, end=' \t\t')

apple 		banana 		cherry

In [6]:
x = range(5)
print(x)

range(0, 5)

In [9]:
#help(range)

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [14]:
name = 'Jugurtha'
for i in name:
    print (i, end='\t ---- ')

J	 ---- u	 ---- g	 ---- u	 ---- r	 ---- t	 ---- h	 ---- a	 ----

In [13]:
print(name[0])

J

In [16]:
# WHILE-----
count = 0
while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2

In [ ]:
# NESTED - FOR - FOR
for i in range(2):        # Outer loop
    for j in range(3):    # Inner loop
        print(f"i={i}, j={j}")

In [26]:
# LOOP with condition : FOR - ELSE
for n in range(10):
    print(n)
    if n == 5:
        print('Exiting at 5')
        break
else:
    print("Loop finished without break")

0
1
2
3
4
5
Exiting at 5

In [ ]:
# VECTORISED / IMPLICIT LOOPS
import numpy as np
arr = np.arange(5)
print(arr)
print(arr ** 2)

In [ ]:
# COMPREHENSION LOOPS
squares = [x**2 for x in range(5)]
print(squares)

## For Loop
### 1. Iterating Over a List of Values

In [ ]:
scores = [50, 65, 80, 90, 100]
scaled_scores = []
print(50/100, 65/100, 90/100, 100/100, '\n')

for s in scores:
    scaled_scores.append(s / 100)  # normalize between 0 and 1

print('New List of Normalised Scores ', scaled_scores)

### 2. Looping Through Rows of a Pandas DataFrame
- Print values with statement
- pd.iterrows - moves row wise in pandas DF- index - rowname, row[column] value

In [ ]:
import pandas as pd

data = {    'Product': ['A', 'B', 'C'],     'Sales': [100, 200, 300]
}
df = pd.DataFrame(data)
df

In [ ]:
for index, row in df.iterrows():
    print(f"Product {row['Product']} has sales {row['Sales']}")

### 3. Data Cleaning with Loops
- clean missing values or apply transformations:
- age has missing value, replce with mean of the column age

data = {'Name': ['Alice', 'Bob', 'Charlie'],  'Age': [25, None, 30]}
df = pd.DataFrame(data)
df

In [ ]:
df.Age.mean()

In [ ]:
for i in range(len(df)):
    if pd.isnull(df.loc[i, 'Age']):
        df.loc[i, 'Age'] = df['Age'].mean()  # replace with mean
df

###  4. Looping to Generate Features (Feature Engineering)
- create new squared features for certain tasks

In [ ]:
import numpy as np
features = ['Age', 'Income']  #cols - add new columns : col_squared and square each col value
df = pd.DataFrame({  'Age': [20, 25, 30], 'Income': [3000, 4000, 5000] })
df
# Age_squared : 20*20, 25* 25, 30*30

In [ ]:
for col in features:
    df[col + "_squared"] = df[col] ** 2
df

### 5. Looping for Simple Analytics (Counts & Aggregates)

In [ ]:
sales = [100, 250, 300, 120, 80]
count = 0
print(sales)
for s in sales:
    if s > 150:
        count += 1  # count = count + 1

print("Number of high sales:", count)

In [ ]:
##