# Loops in Python
- for loop
    -  Pythonâ€™s for loops are often used for iterating over datasets, automating repetitive tasks, and applying transformations or calculations. While libraries like pandas and numpy offer vectorized methods (which are usually faster), understanding and using for loops is still essential for flexibility and custom operations.

## Loops

In [22]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)  #indent
for fruit in fruits: print(fruit, end=' \t')

apple
banana
cherry
apple 	banana 	cherry

In [24]:
# WHILE-----
count = 0
while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2

In [25]:
# NESTED - FOR - FOR
for i in range(2):        # Outer loop
    for j in range(3):    # Inner loop
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2

In [27]:
# LOOP with condition : FOR - ELSE
for n in range(5):
    print(n)
    if n == 3:
        break
else:
    print("Loop finished without break")

0
1
2
3

In [30]:
# VECTORISED / IMPLICIT LOOPS
import numpy as np
arr = np.arange(5)
print(arr)
print(arr ** 2)

[0 1 2 3 4]
[ 0  1  4  9 16]

In [28]:
# COMPREHENSION LOOPS
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

## For Loop
### 1. Iterating Over a List of Values

In [5]:
scores = [50, 65, 80, 90, 100]
scaled_scores = []
print(50/100, 65/100, 90/100, 100/100, '\n')

for s in scores:
    scaled_scores.append(s / 100)  # normalize between 0 and 1

print('New List of Normalised Scores ', scaled_scores)

0.5 0.65 0.9 1.0

New List of Normalised Scores  [0.5, 0.65, 0.8, 0.9, 1.0]

### 2. Looping Through Rows of a Pandas DataFrame
- Print values with statement
- pd.iterrows - moves row wise in pandas DF- index - rowname, row[column] value

In [6]:
import pandas as pd

data = {    'Product': ['A', 'B', 'C'],     'Sales': [100, 200, 300]
}
df = pd.DataFrame(data)
df

  Product  Sales
0       A    100
1       B    200
2       C    300

In [7]:
for index, row in df.iterrows():
    print(f"Product {row['Product']} has sales {row['Sales']}")

Product A has sales 100
Product B has sales 200
Product C has sales 300

### 3. Data Cleaning with Loops
- clean missing values or apply transformations:
- age has missing value, replce with mean of the column age

data = {'Name': ['Alice', 'Bob', 'Charlie'],  'Age': [25, None, 30]}
df = pd.DataFrame(data)
df

In [9]:
df.Age.mean()

27.5

In [10]:
for i in range(len(df)):
    if pd.isnull(df.loc[i, 'Age']):
        df.loc[i, 'Age'] = df['Age'].mean()  # replace with mean
df

      Name   Age
0    Alice  25.0
1      Bob  27.5
2  Charlie  30.0

###  4. Looping to Generate Features (Feature Engineering)
- create new squared features for certain tasks

In [14]:
import numpy as np
features = ['Age', 'Income']  #cols - add new columns : col_squared and square each col value
df = pd.DataFrame({  'Age': [20, 25, 30], 'Income': [3000, 4000, 5000] })
df
# Age_squared : 20*20, 25* 25, 30*30

   Age  Income
0   20    3000
1   25    4000
2   30    5000

In [15]:
for col in features:
    df[col + "_squared"] = df[col] ** 2
df

   Age  Income  Age_squared  Income_squared
0   20    3000          400         9000000
1   25    4000          625        16000000
2   30    5000          900        25000000

### 5. Looping for Simple Analytics (Counts & Aggregates)

In [17]:
sales = [100, 250, 300, 120, 80]
count = 0
print(sales)
for s in sales:
    if s > 150:
        count += 1  # count = count + 1

print("Number of high sales:", count)

[100, 250, 300, 120, 80]
Number of high sales: 2

In [ ]:
##