# Assignment - 3

In [ ]:
## Assignment Details 
- Create aotebook that uses the airquality dataset from pydataset and walks students through core pandas skills: structure, head/tail, selects, filters, missing values, duplicates, sorting, and simple aggregations.

## Practise Exercises
    - Inspecting structure: shape, dtypes, info, head, tail
    - Summary stats: describe, nunique
    - Missing values: isna, fillna (median/mean imputation)
    - Selecting columns/rows: lists, iloc, boolean masks, isin
    - Filtering with conditions and ranges 
    - Sorting by multiple columns
    - Duplicates: duplicated, drop_duplicates
    - Derived columns & categorization: arithmetic, pd.cut
    - Groupby & aggregation: agg, boolean-to-int counting
    - (Optional) quick sanity plots

In [ ]:
## Few Initial Commands to help you load the data

In [1]:
# Install libraries in not availabl
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
# Option A: Load directly from pydataset
df = data('airquality')

In [3]:
df.shape

(153, 6)

In [12]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2

## Tasks

### T1. Inspect the structure
- Show the shape (rows, columns)
- List column names and dtypes
- Display the first 5 and last 5 rows

> **Hints:** `df.shape`, `df.dtypes`, `df.columns`, `df.head()`, `df.tail()`, `df.info()`

In [5]:
# Shape

In [6]:
# Column names & dtypes

In [7]:
# Head and Tails

In [8]:
# Info Summary

### T2. Basic summary stats
- Produce descriptive statistics for numeric columns.
- For each column, show number of unique values.

> **Hints:** `df.describe()`, `df.nunique()`

In [9]:
# code for T2

### T3. Missing values
- Count missing values per column.
- Create a copy `df_mv` where you impute:
  - `Ozone`: fill with the column median (numeric)
  - `Solar.R`: fill with the column mean (numeric)
- Briefly comment: why might median be preferred over mean in some cases? (Add a markdown cell.)

> **Hints:** `df.isna().sum()`, `df.copy()`, `fillna()`

In [10]:
# code for T3

### T4. Selecting columns & rows
- Select the columns: `Ozone`, `Solar.R`, `Temp` into a new DataFrame `df_sel`.
- Select the first **10 rows** of `df_sel`.
- Select rows where `Month` is **May (5)** or **June (6)** only.

> **Hints:** Column lists, `iloc`, boolean masks, `isin`

In [11]:
# code for T4

### T5. Filtering & conditions
- Filter rows where `Ozone` > 100 **and** `Temp` >= 85.
- Filter rows where `Solar.R` is missing.
- Filter rows for **July (7)** with `Ozone` between **50 and 100** (inclusive).

> **Hints:** Combined boolean conditions with `&`, `|`, parentheses; `between()`

In [13]:
# code for T5

### T6. Sorting
- Sort the dataset by `Ozone` **descending** and `Temp` **ascending** (multi-column sort).
- Sort the dataset by `Month` then `Day` to get chronological order.

> **Hints:** `sort_values(by=[...], ascending=[...])`

In [15]:
# code for T6

### T7 Duplicates
- Check if there are any fully duplicated rows.
- Intentionally create a few duplicate rows (e.g., duplicate first 3 rows) into `df_dup`.
- Remove duplicates and report how many were removed.

> **Hints:** `df.duplicated()`, `pd.concat([...])`, `drop_duplicates()`

In [16]:
# code for T7

### T8. Derived columns
- Create a new column `Temp_C` converting Fahrenheit to Celsius.
- Flag a new boolean column `High_Ozone` where `Ozone` > 100.
- Create a categorical column `Temp_Band` with labels: `Cool (<75F)`, `Warm (75–85F)`, `Hot (>85F)`.

> **Hints:** vectorized arithmetic, `pd.cut()`

In [17]:
# code for T8

### T9. Groupby & aggregation
- Group by `Month` and compute **mean Ozone**, **median Solar.R**, and **max Temp**.
- Within each `Month`, count how many days have `Ozone` > 80.

> **Hints:** `groupby()`, `agg({...})`, Boolean to int conversion or `np.sum()`

In [18]:
# code for T8

In [ ]:
### T10.(Stretch) Quick sanity plots *(optional)*
If permitted, create two simple charts to visualize patterns:
- Histogram of `Ozone` (after imputation, using `df_mv` if you created it).
- Line plot of `Temp` across days for **August (8)** ordered by Day.

> **Hints:** `matplotlib` basic plotting

In [ ]:
# Your code for Task 10 (optional) here; uncomment these lines and see
import matplotlib.pyplot as plt

# Example scaffold (uncomment and complete):
# df_mv['Ozone'].hist()
# plt.title('Ozone Distribution')
# plt.show()

# august = df[df['Month'] == 8].sort_values('Day')
# plt.plot(august['Day'], august['Temp'])
# plt.title('August Temperature by Day')
# plt.xlabel('Day'); plt.ylabel('Temp (F)')
# plt.show()

### ✅ Deliverables
- Complete all code cells under each task.
- Add **one short markdown cell** summarizing **two insights** you learned (e.g., months with higher ozone, missingness patterns, hottest months).

### 📝 Evaluation (Suggested)
- **Accuracy & Correctness (40%)** – Tasks solved correctly, edge cases handled.
- **Clarity & Clean Code (20%)** – Clear variable names, comments where helpful.
- **EDA Thoroughness (20%)** – Reasonable checks and summaries beyond bare minimum.
- **Insightfulness (20%)** – Short commentary on trends/outliers/quality issues.

### Submission Format:
- Title: “PIIT Assign3 - Name” (Name your name here)
- Format: Python Notebook
### Visibility
- Git Hub Assign : https://github.com/xxxx/piit/tree/main/assign3.xxx

## Good luck & have fun!