# Assignment - 4
- Lambda Functions

In [1]:
#

### In progress, will create as we proceed with the topics

In [2]:
import pandas as pd
from pydataset import data

# Load mtcars dataset
df = data('mtcars')

In [3]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### 4.1 Add Two Columns
- Create a new column mpg_hp_sum = mpg + hp using a lambda function.

### 4.2 Conditional Label
- Create a new column mpg_label:
	•	"High" if mpg > 20
	•	"Low" otherwise
- Use apply() with a lambda.

### 4.3 Multiply Column Values
- Double all hp values using map() with a lambda.

### 4.4 Filter Rows
- Get a list of all mpg values greater than 25 using filter() with a lambda.

### 4.5 Reduce to Total
- Use reduce() with a lambda to sum all cyl values in the dataset.

### 4.6 Sort by Custom Rule
- Sort the dataset by the reverse of the car names’ length using sorted() with a lambda on the index.

### 4.7 Multi-Column Condition
- Create a column efficient_power = "Yes" if mpg > 20 and hp > 100, else "No".|

### 4.8 Normalize a Column
- Normalize mpg between 0 and 1 using a lambda inside apply():
- {normalized} = (x - min)/(max - min)

### 4.9 Extract First Word
- Extract the first word from each car name (index) into a new column car_make using map() with a lambda.

### 4.10 Square and Add
- Create a column hp_mpg_calc = (hp² + mpg²) using apply() with a lambda.

### 4.11 Filter by Col values
- Filter cars with mpg > 25.

### 4.12 Filter and soted carnames by horsepower
- From above return a list of car names sorted by horsepower.

# End Here
- docs - 1nWPAH4oD_DNP9lfJXtrlrgufld4YwYoJHVoNUtWZGS4