# SET
- A Python set is a built-in data structure that represents an unordered collection of unique elements.
- While the individual elements within a set must be immutable (e.g., numbers, strings, tuples), the set itself is mutable, meaning you can add or remove elements after its creation.

In [2]:
# Creating a set using curly braces
set1 = {1, 2, 3, 4, 5}

In [3]:
set1

{1, 2, 3, 4, 5}

In [4]:
type(set1)

set

In [7]:
# Creating a set from a list using the set() constructor
set2 = set([7,8, 6, 4, 5, 7, 8])

In [9]:
set2  #duplicates remove, data sorted

{4, 5, 6, 7, 8}

In [10]:
teamA = {'India','Bangladesh','Pakistan','USA'}
teamB = {'India', 'France','Bangladesh','UK', 'Sri Lanka', 'India'}

In [11]:
teamA

{'Bangladesh', 'India', 'Pakistan', 'USA'}

In [13]:
teamB  #duplicate remove, data sorted

{'Bangladesh', 'France', 'India', 'Sri Lanka', 'UK'}

In [14]:
teamA.add('Nepal')

In [15]:
teamA

{'Bangladesh', 'India', 'Nepal', 'Pakistan', 'USA'}

## Union

In [17]:
print(teamA.union(teamB), '\t')

{'Pakistan', 'Bangladesh', 'France', 'Sri Lanka', 'Nepal', 'UK', 'USA', 'India'}

In [20]:
print(teamA | teamB, '\t ')

{'Pakistan', 'Bangladesh', 'France', 'Sri Lanka', 'Nepal', 'UK', 'USA', 'India'}

## Intersection

In [21]:
print(teamA.intersection(teamB), '\t')

{'Bangladesh', 'India'}

In [22]:
print(teamA & teamB, '\t ')

{'Bangladesh', 'India'}

## Difference

In [27]:
print('A- ', teamA,  '\nB-', teamB)

A-  {'Pakistan', 'Bangladesh', 'Nepal', 'USA', 'India'}
B- {'India', 'Bangladesh', 'UK', 'France', 'Sri Lanka'}

In [23]:
print(teamA - teamB, '\t ')
# country from teamA not present in teamB

{'Nepal', 'Pakistan', 'USA'}

In [28]:
print(teamB - teamA, '\t ')

{'France', 'Sri Lanka', 'UK'}

## Symmetric Difference

In [35]:
print(teamB ^ teamA)

{'Nepal', 'Pakistan', 'UK', 'France', 'USA', 'Sri Lanka'}

In [34]:
print(teamA ^ teamB)

{'Pakistan', 'Nepal', 'UK', 'France', 'USA', 'Sri Lanka'}

In [33]:
print(teamA & teamB)

{'Bangladesh', 'India'}

In [30]:
print('A- ', teamA,  '\nB-', teamB)

A-  {'Pakistan', 'Bangladesh', 'Nepal', 'USA', 'India'}
B- {'India', 'Bangladesh', 'UK', 'France', 'Sri Lanka'}

## Membership Testing

In [36]:
teamA in teamB

False

In [37]:
'India' in teamA

True

In [44]:
teamA[1] # cannot retrieve values by index , unordered

TypeError: 'set' object is not subscriptable

- Adding Elements: add() method for a single element, update() method for multiple elements from an iterable.
- Removing Elements: remove() (raises an error if the element is not found), discard() (does not raise an error), pop() (removes and returns an arbitrary element), clear() (removes all elements).
- Union: union() or | operator.
- Intersection: intersection() or & operator.
- Difference: difference() or - operator.
- Symmetric Difference: symmetric_difference() or ^ operator.
- Membership Testing: in operator (e.g., element in my_set).

In [45]:
# check for numbers or mixed

In [47]:
mixedset = {'India', 1947, True, 'India'}

In [48]:
mixedset

{1947, 'India', True}

In [49]:
type(mixedset)

set

In [63]:
t1 = ('India','UK', 'USA', 'Bangladesh')
t1

('India', 'UK', 'USA', 'Bangladesh')

In [64]:
t1 in teamA

False

In [65]:
t1 | teamA  #

TypeError: unsupported operand type(s) for |: 'tuple' and 'set'

In [66]:
for i in t1:
    print(i)

India
UK
USA
Bangladesh

In [67]:
for i in t1:
    print(i, i in teamA)

India True
UK False
USA True
Bangladesh True

In [68]:
teamA

{'Bangladesh', 'India', 'Nepal', 'Pakistan', 'USA'}

In [69]:
1 in [1,2,10]

True

In [70]:
'Nayeema' in ['Suroor','Mandal','Nayeema']

True