# Simple Connection to mySQL (local) using MySQL Connector
- It’s a Python driver (library) that lets your Python code talk to a MySQL server.
- Officially called MySQL Connector/Python, maintained by Oracle.
- It uses pure Python (no external MySQL client needed) and works well with MySQL 5.x and 8.x.
- You can:
    - Connect to a MySQL database,
    - Run SQL queries (SELECT, INSERT, UPDATE…),
    - Fetch results into Python objects (tuples, dictionaries, or even pandas DataFrames)

In [31]:
#Python
#!pip install mysql
#!pip install mysql.connector
#!pip install --upgrade mysql-connector-python
#!pip install --upgrade PyMySQL
#!pip install --upgrade mysqlclient

In [1]:
import mysql.connector
import pandas as pd

In [11]:
# Parameters to be passed to connector
host1='127.0.0.1' #instead of localhost
user1='piuser'
pwd1 ='Pass@123'
DB1 = 'piit'

### Error/ Fix
- test it with this cmd : mysql -u YOUR_USER -p -h 127.0.0.1 -P 3306
- SELECT user, host, plugin FROM mysql.user;
- If needed, create/grant a proper account for TCP from local machine: CREATE USER 'YOUR_USER'@'127.0.0.1' IDENTIFIED BY 'STRONG_PASSWORD';
GRANT ALL PRIVILEGES ON YOUR_DB.* TO 'YOUR_USER'@'127.0.0.1';
- FLUSH PRIVILEGES;

In [20]:
cnx = mysql.connector.connect(user=user1, password=pwd1,  host=host1, database='piit')
print("Connected:", cnx.is_connected())

Connected: True

In [15]:
# create a cursor and query a table
cursor = cnx.cursor()
cursor.execute("SELECT * FROM students;")  # example table
# fetch results, 6 rows
rows = cursor.fetchall()
for row in rows[0:6]:
    print(row)
cursor.close()

(1, 'Rick Johnson', 'Mechanical', 63.68, datetime.datetime(2025, 3, 30, 0, 0), 'Average')
(2, 'Shannon Hall', 'Electrical', 74.35, datetime.datetime(2024, 3, 28, 0, 0), 'Outstanding')
(3, 'Stephanie Flores', 'Computer Science', 88.97, datetime.datetime(2024, 5, 17, 0, 0), 'Average')
(4, 'Keith Ferrell', 'Civil', 75.0, datetime.datetime(2025, 6, 22, 0, 0), 'Average')
(5, 'Corey Allen', 'Computer Science', 63.14, datetime.datetime(2025, 5, 17, 0, 0), 'Needs Improvement')
(6, 'Brittney Galloway', 'Computer Science', 51.85, datetime.datetime(2025, 2, 1, 0, 0), 'Needs Improvement')

True

In [17]:
# results to DF
import pandas as pd
query = "SELECT * FROM students;"
df = pd.read_sql(query, cnx)
df.head()
# it may ask to use sqlachemy

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_2428/1737025415.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

   id              name            branch  score  exam_date            remarks
0   1      Rick Johnson        Mechanical  63.68 2025-03-30            Average
1   2      Shannon Hall        Electrical  74.35 2024-03-28        Outstanding
2   3  Stephanie Flores  Computer Science  88.97 2024-05-17            Average
3   4     Keith Ferrell             Civil  75.00 2025-06-22            Average
4   5       Corey Allen  Computer Science  63.14 2025-05-17  Needs Improvement

In [18]:
# see tables in database
import pandas as pd
# List tables in your database
tables = pd.read_sql(""" SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = DATABASE();""", cnx)
tables

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_2428/3157842212.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql(""" SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = DATABASE();""", cnx)

           TABLE_NAME
0           employees
1         math_scores
2               sales
3      student_scores
4      student_totals
5            students
6  subject_avg_scores

In [19]:
# close connection
cnx.close()
print("🔒 Connection closed.")

🔒 Connection closed.

## SQLACHEMY
- SQLAlchemy is the next step up: it gives you a higher-level, more flexible way to talk to MySQL. You can use it both for raw SQL queries and for ORM (Object Relational Mapping).
- 	It’s a database toolkit for Python.
- Supports many databases (MySQL, PostgreSQL, SQLite, etc.) via pluggable drivers.
- Two main ways to use it:
    - Core / SQL Expression Language → you write SQL or SQL-like Python code.
    - ORM (Object Relational Mapper) → you map Python classes to DB tables.
- For MySQL you’ll typically use it with PyMySQL or mysql-connector as the driver.
- Install
    - pip install sqlalchemy pymysql
- Connection string : mysql+pymysql://USERNAME:PASSWORD@HOST:PORT/DATABASE
- Sometimes connections go stale (e.g., long idle Jupyter sessions). You can add pool_pre_ping=True when creating the engine:
- URL-encode special chars in password if any (e.g., # -> %23, @ -> %40)
- #### create_engine( "mysql+pymysql://piuser:Pass%40123@127.0.0.1:3306/piit",   pool_pre_ping=True)

In [22]:
from sqlalchemy import create_engine, text

In [25]:
engine = create_engine( "mysql+pymysql://piuser:Pass%40123@127.0.0.1:3306/piit",   pool_pre_ping=True)
engine.name

'mysql'

In [26]:
ok = engine.dialect.has_table(engine.connect(), "students")
print("Connected!" if ok else "Not connected / no such table")

Connected!

In [28]:
ok = engine.dialect.has_table(engine.connect(), "trump1")
print("Connected!" if ok else "Not connected / no such table")

Not connected / no such table

In [32]:
# show database
with engine.connect() as conn:
    result = conn.execute(text("SHOW DATABASES;"))
    print("📂 Databases:")
    for row in result:
        print("-", row[0])

📂 Databases:
- GSTBILLING
- information_schema
- mysql
- performance_schema
- piit
- sys

In [31]:
# Show tables in database
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    print("📑 Tables in current DB:")
    for row in result:
        print("-", row[0])

📑 Tables in current DB:
- employees
- math_scores
- sales
- student_scores
- student_totals
- students
- subject_avg_scores

In [29]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM students LIMIT 5;"))
    for row in result:
        print(row)

(1, 'Rick Johnson', 'Mechanical', 63.68, datetime.datetime(2025, 3, 30, 0, 0), 'Average')
(2, 'Shannon Hall', 'Electrical', 74.35, datetime.datetime(2024, 3, 28, 0, 0), 'Outstanding')
(3, 'Stephanie Flores', 'Computer Science', 88.97, datetime.datetime(2024, 5, 17, 0, 0), 'Average')
(4, 'Keith Ferrell', 'Civil', 75.0, datetime.datetime(2025, 6, 22, 0, 0), 'Average')
(5, 'Corey Allen', 'Computer Science', 63.14, datetime.datetime(2025, 5, 17, 0, 0), 'Needs Improvement')

In [30]:
import pandas as pd
df = pd.read_sql("SELECT * FROM students;", engine)
df.head()

   id              name            branch  score  exam_date            remarks
0   1      Rick Johnson        Mechanical  63.68 2025-03-30            Average
1   2      Shannon Hall        Electrical  74.35 2024-03-28        Outstanding
2   3  Stephanie Flores  Computer Science  88.97 2024-05-17            Average
3   4     Keith Ferrell             Civil  75.00 2025-06-22            Average
4   5       Corey Allen  Computer Science  63.14 2025-05-17  Needs Improvement

## Web Interface to Mysql
- https://www.adminer.org/en/
    - install php
        - Mac
            - /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
            - brew install php 
    - check php : Terminal : php -v
    - Download : adminer-5.3.0-mysql.php
    - mkdir ~/adminer
    - mv ~/Downloads/adminer-5.3.0-mysql.php ~/adminer/adminer.php
    - cd ~/adminer
    - php -S 127.0.0.1:8080
    - Goto web browser :  http://127.0.0.1:8080/adminer.php   (login with credentials, host 127.x...)
    - Close session : Control + C at Terminal
- Paid
    - HeidiSQL (Windows)
    - DBeaver (cross-platform, Java-based, free & powerful)
    - TablePlus (macOS/Windows, slick UI)

## End here