# Data Export 
-

In [5]:
#pip install gspread

In [6]:
import pandas as pd
import gspread
from google.oauth2.service_account import Credentials

In [35]:
key = '/Users/du/dup/analytics/keys/dup1966gskey.json'
shname ='PIIT data from Python'

In [15]:
creds = Credentials.from_service_account_file ( key, scopes=[  "https://www.googleapis.com/auth/spreadsheets",     "https://www.googleapis.com/auth/drive" ])
client = gspread.authorize(creds)
client

In [36]:
sheet = client.open(shname).sheet1

In [37]:
sheet

In [21]:
# Write a DataFrame
df = pd.DataFrame({"Name": ["Alice", "Bob"], "Score": [90, 85]})
df

    Name  Score
0  Alice     90
1    Bob     85

In [ ]:
sheet.update([df.columns.values.tolist()] + df.values.tolist())

## other sheet
-

In [38]:
# Open spreadsheet by name
spreadsheet = client.open(shname)
spreadsheet

###  --- Option 1: Create a NEW sheet ---

In [24]:
new_sheet = spreadsheet.add_worksheet(title="NewData", rows="100", cols="20")
new_sheet.update([df.columns.values.tolist()] + df.values.tolist())

{'spreadsheetId': '1L9zhEJd_xWNWPXwliTvEBqah8nQ6YS2xjwvuqtqhYtM',
 'updatedRange': 'NewData!A1:B3',
 'updatedRows': 3,
 'updatedColumns': 2,
 'updatedCells': 6}

### --- Option 2: Write to an EXISTING sheet by name ---

In [25]:
existing_sheet = spreadsheet.worksheet("Sheet2")  # must exist already
existing_sheet.clear()

{'spreadsheetId': '1L9zhEJd_xWNWPXwliTvEBqah8nQ6YS2xjwvuqtqhYtM',
 'clearedRange': 'Sheet2!A1:Z1000'}

In [26]:
existing_sheet.update([df.columns.values.tolist()] + df.values.tolist())

{'spreadsheetId': '1L9zhEJd_xWNWPXwliTvEBqah8nQ6YS2xjwvuqtqhYtM',
 'updatedRange': 'Sheet2!A1:B3',
 'updatedRows': 3,
 'updatedColumns': 2,
 'updatedCells': 6}

# pygsheets Library
-

In [2]:
#pip install pygsheets

In [27]:
import pandas as pd
import pygsheets
import os

In [ ]:
os.listdir('/Users/du/dup/auData/keys')

In [28]:
# Authenticate
gc = pygsheets.authorize(service_file=key)

In [39]:
sh = gc.open(shname)
sh

###  --- Option 1: Create new worksheet ---

In [40]:
wks_new = sh.add_worksheet(title="NewData3", rows=100, cols=20)
wks_new.set_dataframe(df, (1, 1))

### --- Option 2: Write to existing worksheet ---

In [33]:
wks_existing = sh.worksheet_by_title("Sheet2")
wks_existing.clear()
wks_existing.set_dataframe(df, (1, 1))

## Sheet Names

In [41]:
sheetList = gc.open(shname).worksheets()
sheetList

[<Worksheet 'ML' index:0>,
 <Worksheet 'Sheet2' index:1>,
 <Worksheet 'NewData' index:2>,
 <Worksheet 'NewData2' index:3>,
 <Worksheet 'NewData3' index:4>]

In [42]:
# Open sheet
sh = gc.open(shname)
wks = sh[0]  # first worksheet
wks

In [44]:
# Write DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': ['x', 'y', 'z']})
df

   A  B
0  1  x
1  2  y
2  3  z

In [45]:
wks.set_dataframe(df, (1, 1))

## Read Data
### Open the spreadsheet (choose ONE of the three lines below)
- spreadsheet = client.open("My Google Spreadsheet")          # by name
- spreadsheet = client.open_by_url("https://docs.google.com/spreadsheets/d/<KEY>/edit#gid=<GID>")
- spreadsheet = client.open_by_key("<SPREADSHEET_KEY>")          # by key (recommended)
- https://docs.google.com/spreadsheets/d/1L9zhEJd_xWNWPXwliTvEBqah8nQ6YS2xjwvuqtqhYtM/edit?gid=2141895426#gid=2141895426

In [48]:
#pip install gspread_dataframe

In [49]:
import pandas as pd
import gspread
from google.oauth2.service_account import Credentials
from gspread_dataframe import get_as_dataframe

In [50]:
creds = Credentials.from_service_account_file(key,scopes=[   "https://www.googleapis.com/auth/spreadsheets", "https://www.googleapis.com/auth/drive",   ],)
client = gspread.authorize(creds)

In [52]:
gsid ='1L9zhEJd_xWNWPXwliTvEBqah8nQ6YS2xjwvuqtqhYtM'
shr = client.open_by_key(gsid)          # by key (recommended)

In [54]:
sheetList = shr.worksheets()
sheetList

[<Worksheet 'ML' id:0>,
 <Worksheet 'Sheet2' id:2141895426>,
 <Worksheet 'NewData' id:565522700>,
 <Worksheet 'NewData2' id:2018298584>,
 <Worksheet 'NewData3' id:246207265>]

In [55]:
#  Select the worksheet/tab
ws = spreadsheet.worksheet("Sheet2")  # e.g., your “orders” sheet
ws

In [56]:
# 4) Import to pandas (first row as header; keep empty rows/cols off)
df = get_as_dataframe(ws, evaluate_formulas=True, header=0, dtype=str, na_filter=True)
df

    Name Score
0  Alice    90
1    Bob    85