# Python - Creating Own Data
- create data inside python - list, dictionary, distribution etc
- upload data from laptop - csv, excel, email attachment , etc
- import data from web - git, kaggle,  url etc

In [ ]:
import numpy as np
import pandas as pd
import random # create random values

## Step-1 : Setup
- Create data using various Python structures
- ### 20 students - rollno, sname, gender, course, scores, age

In [ ]:
# Rollnos - list
rollno = list(range(1, 21))   # 20 students; 1 to 21-1
print(type(rollno), rollno)

In [ ]:
# Names - (tuple) - immutable, cannot change
sname = ( "Alice", "Bob", "Charlie", "Diana", "Ethan",  "Fiona", "George", "Hannah", "Ian", "Jasmine", \
          "Kevin", "Lily", "Mike", "Nina", "Oscar",  "Priya", "Quinn", "Raj", "Sophia", "Tom")
print(type(sname), list(sname))

# structure gets change by use of brackets and the combination
- list [ ]
- tuple ()
- set { }
-

In [ ]:
# Gender - set {unique}
genders_set = {"Male", "Female", 'Male', 'Female'}
gender = [random.choice(list(genders_set)) for _ in rollno]   #create gender values- as size of rollno
print(list(gender))

In [ ]:
print('Males -' , gender.count('Male'), ' Females - ' ,  gender.count('Female'))

In [ ]:
random.randint(1, 4) # random no between 1 and 4 incl

In [ ]:
# Course - dictionary : {key:value} pair
courses_dict = {1: "CS", 2: "IT", 3: "AI", 4: "DS"}  # mapping
course = [courses_dict[random.randint(1, 4)] for _ in rollno]
print(list(course))

In [ ]:
x = np.random.normal(loc=50, scale=2, size=5)
print(' Values are - ', x, ' Mean - ' , np.mean(x), ' Std Dev -', np.std(x))
#normal(loc=0.0, scale=1.0, size=None)

In [ ]:
np.random.normal(70, 10, len(rollno))  #mean-70, std=10, nos=20

In [ ]:
?np.clip(np.random.normal(70, 10, len(rollno)), 70, 80)
#https://numpy.org/devdocs/reference/generated/numpy.clip.html

In [ ]:
a = np.arange(10)
print(a) #array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
np.clip(a, 2, 6)

In [ ]:
# Scores - random normal
# Normally distributed around mean=70, std=10, clipped to 40â€“100
#score = np.clip(np.random.normal(70, 10, len(rollno)), 45, 95).round(1)
score = np.random.normal(70, 15, len(rollno))
print(score, ':::', np.mean(score), np.std(score))
score = np.clip(score, 50, 95)
print(score)
score = score.round(2)
print(score)
score

In [ ]:
# Age - random, integer
age = np.random.randint(19, 31, size=len(rollno)) # 19 to 30
age

In [ ]:
#?np.random.randint

In [ ]:
print(rollno, '\n', sname,'\n', gender, '\n', course, '\n', score,'\n', age)
#create columns of Data Frame

## Step - 2 : Data Frame
- rows and columns
- Columns - variable names, Rows- data for each student
- Join Columns to Data Frame
- 20 Students Data
- Dictionary : key:value
- pd.DataFrame({ 'key1':values1, 'key2';values})

In [ ]:
df = pd.DataFrame({  "rollno": rollno,  "sname": sname,  "gender": gender, "course": course,  "score": score, "age": age})
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.shape

## Larger DF 
- install faker for snames : pip install faker
- https://pypi.org/project/Faker/

In [ ]:
#pip install faker

In [ ]:
import pandas as pd
import numpy as np
import random
from faker import Faker

In [ ]:
# n - no of students
n=1000
fake = Faker()

In [ ]:
print(fake.name())
print(fake.address())
print(fake.email())
print(fake.date_of_birth())

In [ ]:
print(tuple(fake.name() for _ in rollno[0:20]))

In [ ]:
n=1001
rollno = list(range(1, n))
sname = tuple(fake.name() for _ in rollno)
genders_set = {"Male", "Female"}
gender = [random.choice(list(genders_set)) for _ in rollno]
courses_dict = {1: "CS", 2: "IT", 3: "AI", 4: "DS"}
course = [courses_dict[random.randint(1, 4)] for _ in rollno]
score = np.clip(np.random.normal(70, 10, len(rollno)), 40, 100).round(1)
age = np.random.randint(18, 25, size=len(rollno))

In [ ]:
df2 = pd.DataFrame({    "rollno": rollno,    "sname": sname,    "gender": gender,    "course": course,    "score": score,    "age": age})
df2.shape

In [ ]:
df2.head()

In [ ]:
#df2.to_csv('../../data/student160825.csv', index=False)
#f2.to_csv('C:/analytics/data/student160825.csv', index=False)
# the folder and file should be correct

## Own Data
- Synthetic 
- Simulate
- Same value

## Data from CSV
### file in laptop
- download from : https://catalog.data.gov/dataset/real-estate-sales-2001-2018  (125 MB)
    - listing of all real estate sales with a sales price of $2,000 or greater that occur between October 1 and September 30 of each year. For each sale record, the file includes: town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment. 
- IMF : https://data.imf.org/en/datasets/IMF.STA:QGDP_WCA  (187 KB)
    - This dataset provides a snapshot of the economic activity of the world and selected country aggregates on a quarterly basis. It offers quarterly measurements of Gross Domestic Product (GDP). Quarterly estimates are disseminated on a seasonally adjusted basis.
- Country and capitals; https://ec.europa.eu/eurostat/statistics-explained/images/9/9f/Country_Codes_and_Names.xlsx   (XL)
- max size of excel  the maximum number of rows is 1,048,576 and the maximum number of columns is 16,384 (XFD)
## Online files
- https://raw.githubusercontent.com/DUanalytics/datasets/refs/heads/master/csv/global_world_indicators_2000.csv'

In [ ]:
f1='Real_Estate_Sales_2001-2023_GL.csv'
f2='dataset_2025-08-16T11_40_29.251665198Z_DEFAULT_INTEGRATION_IMF.STA_QGDP_WCA_3.0.0.csv'
f3 ='Country_Codes_and_Names.xlsx'
FOLDER ='/Users/du/dup/analytics/data/' #outside git hub : C:/analytics/data
file1 = FOLDER + f1
file2 = FOLDER + f2
file3 = FOLDER + f3
file3 ='/Users/du/dup/analytics/data/Country_Codes_and_Names.xlsx'
print(file1,'\n', file2, '\n', file3)

In [ ]:
df_f1 = pd.read_csv(file1)
df_f1.shape

In [ ]:
df_f1.head(2)

In [ ]:
df_f2 = pd.read_csv(file2)
df_f2.shape

In [ ]:
df_f2.head(2)

In [ ]:
pd.read_excel(file3).head(4)

In [ ]:
df_f3 = pd.read_excel(file3, skiprows=[1])
# pd.read_excel("students.xlsx", header=1)  # if headers are on 2nd row
df_f3.head(5)

In [ ]:
 pd.read_excel(file3, skiprows=range(1,6)).head()

In [ ]:
# data from Online Resources, downloadable directly
f4 = 'https://raw.githubusercontent.com/DUanalytics/datasets/refs/heads/master/csv/global_world_indicators_2000.csv'
file4 = f4

In [ ]:
df_f4 = pd.read_csv(file4)
df_f4.shape

In [ ]:
df_f4.head(2)

In [ ]:
#pip install xlrd

In [ ]:
f5A= 'https://my.surrey.ac.uk/sites/default/files/2024-12/UOS_RIGO_template_011%20Sample%20tracking%20log%2022Aug23.xlsx'

In [ ]:
file5A = f5A
df_f5A = pd.read_excel(file5A)
#df_f5B = pd.read_excel(file5B, engine='xlrd')
df_f5A.shape

In [ ]:
df_f5A.head()

## Wiki table
- https://en.wikipedia.org/wiki/List_of_cities_by_GDP

In [ ]:
wiki1 = "https://en.wikipedia.org/wiki/List_of_cities_by_GDP"
# read all tables on the page
tables = pd.read_html(wiki1)
print(f"Found {len(tables)} tables")

In [ ]:
# Identify the correct table
# Often the first is the main list â€” let's preview the first few tables
for idx, table in enumerate(tables[:3]):
    print(f"\nTable {idx} columns: {table.columns.tolist()}\n")

In [ ]:
df_wk1 = tables[2]
df_wk1.head()

In [ ]:
df_wk1.shape

In [ ]:
df_wk1.tail()

In [ ]:
df_wk2 = tables[3]
df_wk2.head()

In [ ]:
df_wk4 = tables[4]
df_wk4.head()

### There are different ways to import table in to Python
- create synthetic - store to csv, excel
- import csv, excel
- import from online csv, excel
- import a web , table format; url

### Random No Generation  (same pattern)
- np.random.seed(value) or random.seed(value) makes results reproducible.
- Use the same seed to get the same sequence of random numbers.
- np.random.seed(42)
- df.sample(frac=1, random_state=42)
- random.seed(42); nums = [random.randint(1, 10) for _ in range(5)]
- The "seed value" in a random number generator (specifically, a pseudorandom number generator or PRNG) is the initial numerical value used to start the generation process. PRNGs produce sequences of numbers that appear random but are actually determined by a deterministic algorithm.

In [ ]:
import numpy  as np
import pandas as pd
import random
from pydataset import data

In [ ]:
np.random.seed(42)   # set seed value
nums = np.random.randint(1, 10, size=5)
print(nums, " Sum of numbers is ",  sum(nums))

In [ ]:
np.random.seed(43)   # set seed value
nums = np.random.randint(1, 10, size=5)
print(nums, " Sum of numbers is ",  sum(nums))

In [ ]:
random.seed(42)   #random library
nums = [random.randint(1, 10) for _ in range(5)]
print(nums, " Sum of numbers is ",  sum(nums))

In [ ]:
df = pd.DataFrame({"A": range(1, 6)})  #pandas
df

In [ ]:
df.sample(frac=.3, random_state=100)  # reproducible shuffle

In [ ]:
mtcars =data('mtcars')
mtcars.shape

In [ ]:
#?mtcars.sample

In [ ]:
mtcars.sample(frac =.2, random_state=42) #Ferrari Dino

In [ ]:
mtcars.sample(n=3, axis=1, random_state=10).head()

In [ ]:
n = 10  # number of students
np.random.seed(42+2)
student_ids = np.arange(1, n+1) # Generate synthetic student data
# Random normal distribution (mean=70, std=10) â†’ marks
marks = np.random.normal(loc=70, scale=10, size=n).astype(int)
# Random choices (year of study: 1st, 2nd, 3rd, 4th)
years = np.random.choice([1,2,3,4], size=n, p=[0.25,0.25,0.25,0.25])
# Random integers (age between 18â€“24)
ages = np.random.randint(18, 25, size=n)
df = pd.DataFrame({  "StudentID": student_ids,  "Age": ages,  "Year": years,  "Marks": marks })
print(df.sum(), df.sum().sum())
df

In [ ]:
print(df.sum().sum())

## Using Faker with seeding value
- fake = Faker()
- Faker.seed(42)

In [106]:
from faker import Faker
import pandas as pd
import numpy as np

fake = Faker()
Faker.seed(45)
np.random.seed(45)

n = 10  # number of students

students = []
for i in range(n):
    student = {
        "StudentID": i+1,
        "Name": fake.name(),
        "Email": fake.email(),
        "Age": np.random.randint(18, 25),
        "Year": np.random.choice([1,2,3,4]),
        "Marks": int(np.random.normal(70, 10))
    }
    students.append(student)

df_fake = pd.DataFrame(students)
print(df_fake.head())

   StudentID           Name                  Email  Age  Year  Marks
0          1    John Miller   andrew70@example.org   21     3     52
1          2  Bruce Collins  nolancarl@example.com   23     2     73
2          3    Nancy Clark     ajones@example.org   21     1     63
3          4  Tammy Jackson  michael51@example.com   24     2     69
4          5   Paul Stewart     vlyons@example.net   19     3     79

In [107]:
df.sum()

StudentID     55
Age          204
Year          24
Marks        689
dtype: int64

In [108]:
df.sum()

StudentID     55
Age          204
Year          24
Marks        689
dtype: int64