# Case on Students Table
- Views
- SubQueries
- Window Functions
- Join
- Sorting, Filtering

# Views represent common classroom analytics:
	•	subject_avg_scores: how each subject is performing overall
	•	student_totals: personal performance summaries
	•	math_scores: focused subset of data
# Subqueries answer practical questions:
	•	Who’s above average overall?
	•	Which students have exceptionally high totals?
	•	What’s the average in my subject compared to my score?
	•	Who has beaten their subject’s average?
	•	What’s my latest recorded exam score?

# Check if you are using correct database
- mysql -u piuser -p
- Pass#123
- USE piit;
- DROP TABLE IF EXISTS student_scores

## Create Table
- CREATE TABLE student_scores ( id   INT PRIMARY KEY,  sname  VARCHAR(100) NOT NULL,  subject   VARCHAR(50)  NOT NULL,  examdate  DATE  NOT NULL,  score  DECIMAL(5,2) NOT NULL )

## Insert Data in the Table
- INSERT INTO student_scores (id, sname, subject, examdate, score) VALUES 
(1, 'Mandal', 'Math',    '2025-08-01', 85), 
(2, 'Amandeep', 'Math',    '2025-08-02', 75),
(3, 'Barkat', 'Math',      '2025-08-03', 92), 
(4, 'Suroor', 'Math',    '2025-08-04', 88), 
(5, 'Mandal',  'Science',    '2025-08-05', 70), 
(6, 'Amandeep', 'Science', '2025-08-06', 88), 
(7, 'Sharan',  'Math',    '2025-08-02', 75), 
(8, 'Barkat', 'Science', '2025-08-04', 92)

## Check the data
- SELECT * FROM student_scores;

## Views
### V1 : Avg score per subject
- CREATE OR REPLACE VIEW subject_avg_scores AS SELECT subject, AVG(score) AS avg_score, COUNT(*)  AS num_exams FROM student_scores GROUP BY subject;
- SELECT * FROM subject_avg_scores;
### V2 : Student total and average score
- CREATE OR REPLACE VIEW student_totals AS SELECT sname,  SUM(score) AS total_score, AVG(score) AS avg_score, COUNT(*)   AS exams_taken FROM student_scores GROUP BY sname;
- SELECT * FROM student_totals
- SELECT * FROM student_totals ORDER BY avg_score DESC
### V3 : View of only Math exam scores (updatable)
- CREATE OR REPLACE VIEW math_scores AS SELECT id, sname, subject, examdate, score FROM student_scores
WHERE subject = 'Math'
- SELECT * FROM math_scores 
- x
### V4 : 
- x
- x

## SUB-QUERIES
### SQ1 - Students whose total score is above the overall average score
- SELECT sname FROM student_scores GROUP BY sname HAVING SUM(score) > ( SELECT AVG(score) FROM student_scores)
- SELECT sname, SUM(score) FROM student_scores GROUP BY sname HAVING SUM(score) > ( SELECT AVG(score) FROM student_scores)


-- =========================================================
-- 2) Subqueries
-- =========================================================

-- 2A) Students whose total score is above the overall average score
SELECT student_name
FROM student_scores
GROUP BY student_name
HAVING SUM(score) > (
    SELECT AVG(score) FROM student_scores
);

-- 2B) Inline view: students with total score > 250
SELECT *
FROM (
    SELECT student_name, SUM(score) AS total_score
    FROM student_scores
    GROUP BY student_name
) AS totals
WHERE total_score > 250;

-- 2C) Subquery in SELECT: each exam with subject average
SELECT
    s1.id,
    s1.student_name,
    s1.subject,
    s1.score,
    (
        SELECT AVG(s2.score)
        FROM student_scores AS s2
        WHERE s2.subject = s1.subject
    ) AS avg_in_subject
FROM student_scores AS s1
ORDER BY subject, score DESC;

-- 2D) EXISTS: students who have at least one score above their subject's average
SELECT DISTINCT s1.student_name
FROM student_scores AS s1
WHERE EXISTS (
    SELECT 1
    FROM student_scores AS s2
    WHERE s2.subject = s1.subject
    GROUP BY s2.subject
    HAVING MAX(s1.score) > AVG(s2.score)
);

-- 2E) Latest exam for each student
SELECT *
FROM student_scores AS s1
WHERE s1.exam_date = (
    SELECT MAX(s2.exam_date)
    FROM student_scores AS s2
    WHERE s2.student_name = s1.student_name
)
ORDER BY student_name, exam_date;


⸻

How This Helps Students Understand
	•	Views now represent common classroom analytics:
	•	subject_avg_scores: how each subject is performing overall
	•	student_totals: personal performance summaries
	•	math_scores: focused subset of data
	•	Subqueries answer practical questions:
	•	Who’s above average overall?
	•	Which students have exceptionally high totals?
	•	What’s the average in my subject compared to my score?
	•	Who has beaten their subject’s average?
	•	What’s my latest recorded exam score?

⸻

If you want, I can add window functions like RANK, DENSE_RANK, LEAD, and LAG to this same student_scores table so learners can see them alongside views and subqueries in one script. That way, it’s one comprehensive playground for SQL practice. Would you like me to do that?